body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #283136;
  line-height: 24px;
  padding: 0;
  margin: 0;
}
  /* Типографика */
h1,
h2,
h3,
h3.filter,
h4,
p.slide-slogan {
  font-weight: 500;
  color: #000000;
}

h3,
h3.filter,
h4 {
  text-transform: uppercase;
}

h1,
p.slide-slogan {
  font-size: 55px;
  line-height: 55px;
}

h2 {
  font-size: 45px;
  line-height: 45px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h3.filter {
  font-size: 18px;
  line-height: 18px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

h4.footer-nerds {
  font-size: 18px;
  line-height: 30px;
}

.nerds-percent {
  font-size: 45px;
}

.percent-text {
  font-size: 16px;
  line-height: 18px;
}

.sup {
  font-size: 0.5em;
  vertical-align: super;
  font-style: normal;
}

a.template-caption {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

p.template-details {
  font-size: 16px;
  color: #666666;
}

b.discount {
  font-size: 36px;
}

/* Кнопки */

.btn {
  display: block;
  padding: 16px 0 0 0;
  margin: 0;
  background-color: #fb565a;
  width: 160px;
  height: 34px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
}

.slide a.btn {
  width: 240px;
}

.footer-address a.btn {
  width: 220px;
}

.slide a.btn:hover,
.service-item:nth-child(1) > a:hover,
.footer-address > a:hover,
a.social-btn:hover,
.feedback-submit:hover {
  background-color: #e74246;
}

.slide a.btn:active,
.service-item:nth-child(1) > a:active,
.footer-address > a:active,
a.social-btn:active,
.feedback-submit:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.service-item:nth-child(2) > a {
  background-color: #00ca74;
}

.service-item:nth-child(2) > a:hover {
  background-color: #00bc6c;
}

.service-item:nth-child(2) > a:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.service-item:nth-child(3) > a {
  background-color: #efc84a;
}

.service-item:nth-child(3) > a:hover {
  background-color: #eab534;
}

.service-item:nth-child(3) > a:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.template-description a.btn {
  width: 200px;
}

.template-description a.btn:hover {
  background-color: #e74246;
}

.template-description a.btn:active {
  background-color: #d7373b;
}

/* Фильтры */

.range-filter {
  width: 240px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding: 39px 20px 15px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 145px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.settings-left button[type="submit"] {
  width: 260px;
  height: 50px;
  border: none;
  margin-top: 40px;
  background-color: #eeeeee;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  border-radius: 3px;
  outline: none;
}

.settings-left button[type="submit"]:hover {
  background-color: #dfdfdf;
}

.settings-left button[type="submit"]:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  border: none;
}

  /* Сетка */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  background-color: #eeeeee;
  min-height: 397px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header .container {
  padding-top: 49px;
}

.logo {
  width: 260px;
  float: left;
  margin: 0 40px 0 0;
}

.logo img:hover {
  opacity: 0.8;
}

.logo img:active {
  opacity: 0.3;
}

.cart {
  width: 100px;
  float: right;
  position: relative;
  text-align: right;
}

.cart .icon-cart {
  width: 15px;
  height: 15px;
  position: absolute;
  left: -15px;
  top: 30px;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart a {
  display: block;
  padding-top: 25px;
  color: #000;
  line-height: 30px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation {
  float: left;
  padding: 0 60px;
}

.navigation ul {
  padding: 25px 0 0 0;
  margin: 0;
  font-size: 0px;
  list-style: none;
}

.navigation > ul > li {
  display: inline-block;
  margin-right: 46px;
}

.navigation > ul > li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  display: block;
  color: #000;
  line-height: 30px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 1px;
}

.navigation ul li a:hover, .cart > a:hover {
  color: #fb565a;
}

.navigation ul li a:active, .cart > a:active {
  color: #bdbdbd;
}

.navigation .active-link {
  border-bottom: 2px solid #fb565a;
}

.slider {
  position: relative;
  width: 1160px;
  min-height: 375px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 400px;
  padding-top: 70px;
  color: #283136;
}

.slide-text p {
  padding-top: 26px;
  margin: 0;
}

.slide-text .btn {
  margin-top: 40px;
}

p.slide-slogan {
  padding: 0;
  margin: 0;
}

.slider-controls {
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:20px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}

.slider-controls i {
    display: inline-block;
    width: 4px;
    height: 4px;
    border: 2px solid #ffffff;
    background: #ffffff;
    box-shadow: 0 0 0 4px #ffffff;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

i.control-active {
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  background: #ffffff;
  box-shadow: 0 0 0 4px #ffffff;
  border-radius: 50%;
}

.control-border {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 6px;
  background: transparent;
  border: 6px solid #ffffff;
  border-radius:50%;
  cursor:pointer;

}

.slide {
  display: none;
}

.slide:nth-child(1) {
  display: block;
}

.slide:nth-child(1) {
  background-image: url("../img/slide-1.jpg");
  background-repeat:no-repeat;
  background-position:100% -8px;
}

.slide:nth-child(2){
    background-image: url("../img/slide-2.jpg");
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide:nth-child(3){
    background-image: url("../img/slide-3.jpg");
    background-repeat:no-repeat;
    background-position:100% 0;
}

  /* Сетка main */
.service {
  border-bottom: solid #eeeeee 2px;
  padding-bottom: 80px;
  margin-top: 80px;
}

.service-item {
  width: 360px;
  margin-right: 40px;
  float: left;
  text-align: left;
}

.service-item:last-child {
  margin-right: 0;
}

.service-item h3 {
  margin: 19px 0 0 0;
}

.service-item p {
  width: 260px;
  margin: 16px 0 32px 0;
}

.description {
  border-bottom: solid #eeeeee 2px;
  padding-bottom: 45px;
}

.desription-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.desription-list li {
  position: relative;
  display: block;
  margin-bottom: 25px;
  margin-left: 35px;
}

.desription-list li::before {
  position: absolute;
  left: -35px;
  content: "\2014\0020";
  color: #fb565a;
  font-size: 35px;
  font-weight: lighter;
}

.description-left {
  text-align: left;
  width: 660px;
  float: left;
}

.description-left h2 {
  padding-top: 75px;
  margin: 0;
}

.description-left p {
  margin: 0;
  padding-top: 32px;
}

.description-left h4 {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 25px;
}

.description-right {
  width: 360px;
  float: right;
}

.description-right h4 {
  width: 360px;
  text-align: center;
}

.description-right img {
  padding-top: 40px;
}

div.description-right > div {
  width: 110px;
  float:left;
  margin-top: 30px;
  margin-right: 10px;
}

.projects {
  position: relative;
  font-size: 0px;
  border-bottom: solid #eeeeee 2px;
  padding-bottom: 26px;
  padding-top: 46px;
}

.project-logo {
  display: inline-block;
  width: 260px;
  margin-right: 40px;
  vertical-align: middle;
  text-align: center;
  opacity: 0.2;
}

.project-logo:last-child {
  margin-right: 0px;
}

.project-logo:hover {
  opacity: 1;
}

.project-logo:active {
  opacity: 0.1;
}

.project-logo::after {
  content: "";
  position: absolute;
  top: 65px;
  display: inline-block;
  width: 2px;
  min-height: 52px;
  background-color: #bfbfbf;
  vertical-align: middle;
}

.project-logo:hover::after, .project-logo:active::after {
  opacity: 0.2;
}

.project-logo:nth-child(1)::after {
  left: 280px;
}

.project-logo:nth-child(2)::after {
  left: 580px;
}

.project-logo:nth-child(3)::after {
  left: 880px;
}

.project-logo:last-child::after {
  display: none;
}


  /* Сетка footer */

.footer-map {
  position: relative;
  width: 1440px;
  min-height: 416px;
  background-image: url("../img/footer-map.jpg");
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 70px;
  margin-top: 80px;
}

.footer-address {
  position: absolute;
  top: 55px;
  left: 140px;
  width: 270px;
  height: 310px;
  padding-left: 50px;
  background-color: #ffffff;
}

.footer-nerds {
  padding-top: 25px;
}

.footer-address > p {
  color: #666666;
  line-height: 1.1em;
}

p.footer-phone {
  padding-bottom: 20px;
  padding-top: 5px;
}

.footer-bottom {
  margin-bottom: 70px;
}

.footer-social {
  width: 360px;
  font-size: 0px;
  float: left;
  margin-right: 40px;
}

.footer-discount {
  float: left;
  line-height: 2em;
}

.social-btn {
  width: 80px;
  min-height: 80px;
  display: inline-block;
  margin-right: 12px;
  background: #e1e1e1 no-repeat center;
  border-radius: 40px;
}

.social-btn:first-child {
  background-image: url("../img/vk-icon.png");
}

.social-btn:nth-child(2) {
  background-image: url("../img/fb-icon.png");
}

.social-btn:last-child {
  background-image: url("../img/insta-icon.png");
}

/* Каталог */
.main-header h1 {
  width: 780px;
  margin: 80px auto;
}

.settings-left .filter {
  margin-top: 50px;
  margin-bottom: 20px;
}

.settings-left .filter:first-child {
  padding-bottom: 30px;
}

/* Меню сортировки */
.sort {
  margin: 50px 0 50px 0;
}

.sort .filter {
  margin: 0 40px 0 0;
  width: 360px;
  float: left;
}

.sort-list {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 0px;
  list-style-type: none;
}

.sort-list li {
  display: inline-block;
  margin-right: 22px;
}

.sort-direction {
  float: right;
  margin: -3px;
}

.sort-direction > a {
  font-size: 14px;
  opacity: 0.3;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.sort-type {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.sort-type:hover, .sort-direction > a:hover {
  opacity: 0.6;
}

.sort-type:active, .sort-direction > a:active {
  opacity: 1;
}

/* Фильтры */

.main-catalog input[type="radio"] + label {
	display: block;
  position: relative;
  margin-bottom: 20px;
  margin-left: 34px;
}

.main-catalog input[type="radio"] {
  display: none;
}

.main-catalog input[type="checkbox"] + label {
	display: block;
  position: relative;
  margin-bottom: 20px;
  margin-left: 34px;
}

.main-catalog input[type="checkbox"] {
  display: none;
}

.radio-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;
  width: 17px;
  height: 17px;
  background: #ffffff;
  border-radius: 50%;
  border: 4px solid #000000;
  opacity: 0.4;
  cursor: pointer;
}

.radio-checked::before {
  top: 2px;
  left: -31px;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  background: #000000;
  border: 5px solid #ffffff;
  box-shadow: 0 0 0 4px #000000;
  opacity: 0.4;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -31px;
  width: 19px;
  height: 19px;
  background: #ffffff;
  border-radius: 4px;
  border: 2px solid #000000;
  opacity: 0.4;
  cursor: pointer;
}

.checkbox-checked::before {
  top: 2px;
  left: -31px;
  width: 27px;
  height: 23px;
  box-sizing: border-box;
  background: url("../img/checkbox-on.png") no-repeat;
  background-position: top;
  border: none;
}

.checkbox-label:hover::before,
.checkbox-checked:hover::before,
.radio-label:hover::before,
.radio-checked:hover::before {
  opacity: 1;
}

.settings-left {
  width: 360px;
  float: left;
}

/* Шаблоны Каталог */

.main-catalog {
  margin-top: -50px;
}

.settings-left > form > h3 {
  margin-bottom: 50px;
}

.templates-right {
  width: 760px;
  float: right;
}

.templates {
  width: 760px;
  padding: 0;
  margin-top: 0;
  font-size: 0px;
  padding-top: 70px;
}

.template-item {
  display: inline-block;
  position: relative;
  width: 360px;
  min-height: 576px;
  margin-right: 40px;
  margin-bottom: 35px;
}

.template-item::before {
  content: "";
  display: block;
  width: 361px;
  height: 40px;
  background-image: url("../img/template-browser.png");
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.12;
}

.template-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  display: none;
  z-index: -1;
  width: 359px;
  height: 288px;
  box-shadow: 0 0 15px 6px #000101;
  opacity: 0.25;
}

.template-item:hover::after {
  display: block;
}

.template-item:hover::before {
  opacity: 1;
}

.template-item:nth-child(even) {
  margin-right: 0;
}

.template-description {
  position: absolute;
  bottom: 0;
  left: 0px;
  display: none;
  font-size: 16px;
  text-align: center;
  width: 362px;
  min-height: 200px;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  background-color: #eeeeee;
}

.template-description .btn {
  margin-left: 80px;
}

.template-item:hover .template-description {
  display: block;
}

.template-img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}

/* Пагинация */

ul.paginator {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
  font-size: 0px;
}

.paginator li {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

.paginator li a {
  display: block;
  padding-top: 15px;
  min-width: 50px;
  min-height: 35px;
  font-size: 16px;
  line-height: 18px;
  background-color: #eeeeee;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  border-radius: 2px;
}

.paginator .currentpage, .paginator a.currentpage:hover, .paginator a.currentpage:active {
  min-height: 29px;
  min-width: 44px;
  border: 3px solid #eeeeee;
  background-color: #ffffff;
}

.paginator .nextpage {
  padding-left: 80px;
  padding-right: 80px;
}

.paginator li a:hover {
  background-color: #dfdfdf;
}

.paginator li a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  border: none;
}

.paginator a.currentpage:active {
  box-shadow: none;
  color: #000000;
}

/* Форма обратной связи */

.feedback {
  position: fixed;
  left: 24%;
  bottom: 190px;
  z-index: 100;
  width: 960px;
  min-height: 590px;
  padding: 67px 100px 0 100px;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  display: none;
}

.feedback {
  display: block;
}

.feedback-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  background: url("../img/close-cross.png") no-repeat;
  font-size: 0;
  border: 0;
  outline: 0;
  opacity: 0.3;
  cursor: pointer;
}

.feedback-close:hover {
  opacity: 1;
}

.feedback-close:active {
  opacity: 0.1;
}

.feedback-title {
  margin: 0 0 40px 0;
  font-size: 45px;
  line-height: 45px;
}

.feedback-form input {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 18px;
  color: #444444;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.feedback-field-1 label,
.feedback-field-2 label,
.feedback-field-3 label {
  display: block;
  width: 360px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  overflow: hidden;
}

.feedback-field-1 input,
.feedback-field-2 input {
  width: 360px;
  min-height: 50px;
  margin-top: 9px;
  margin-bottom: 33px;
  padding: 0 12px;
}

.feedback-field-1 {
  float: left;
}

.feedback-field-2 {
  float: right;
}

.feedback-field-3 {
  clear: both;
  width: 100%;
}

.feedback-field-3 input {
  width: 100%;
  margin-top: 9px;
  padding: 0 12px;
  padding-top: 11px;
  padding-bottom: 85px;
}

.feedback-submit {
  width: 260px;
  height: 50px;
  margin-top: 48px;
  padding: 0;
  border: none;
  outline: none;
}

.feedback-form input:hover {
  border: 2px solid #b4b9bb;
}

.feedback-form input:focus {
  border: 2px solid #000000;
}
